#main {
	width: 100%;
	height: auto;
	margin-top: 20%;
	background-color:#FFF;
	font-weight: bold;
	text-align: center;
	position: relative;
}


#form {
	margin-top: 8px;
}

.landlord,
.renter {
	margin: 40px auto;
	background-color: #FC0;
	padding: 3px 3px;
	text-align: center;
	font-size: 30px;
	color: white;
	cursor: pointer;
	width: 150px;
	border: 2px transparent #FFF;
	border-radius: 20px;
	border-style: inset;
	display: block;
}

a:link,
a:active,
:visited,
:hover {
	text-decoration: none;
	
}

#bottomImg {
	position:fixed;
	bottom: 70px;
	
}