#main {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: rgb(174, 250, 250);
	font-weight: bold;
	text-align: center;
	position: relative;
}

#text {
	width: 75%;
	height: 150px;
	margin-top: 30px;
}

#form {
	margin-top: 5px;
}

.landlord,
.renter {
	margin: 40px auto;
	background-color: #FC0;
	padding: 3px 3px;
	text-align: center;
	font-size: 30px;
	color: white;
	cursor: pointer;
	width: 150px;
	border: 2px transparent #FFF;
	border-radius: 20px;
	border-style: inset;
	display: block;
}

a:link,
a:active,
:visited,
:hover {
	text-decoration: none;
	color: white;
}

#bottomImg {
	position: absolute;
	bottom: 0;
}